.create-container {
  position: fixed;
  top: 6%;
  left: 40%;
  width: 400px;
  height: 300px;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px 20px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 30px;
  -webkit-box-shadow: inset 10px 10px 7px -8px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: inset 10px 10px 7px -8px rgba(0, 0, 0, 0.53);
  box-shadow: inset 10px 10px 7px -8px rgba(0, 0, 0, 0.53);
  @media (max-width: 800px) {
    left: 10%;
  }
  @media (max-width: 500px) {
    left: 0px;
    width: 300px;
  }
  @media (max-width: 420px) {
    left: 10px;
    width: 250px;
  }
  input {
    width: 80%;
    height: 80px;
    border: 1px solid black;
    border-radius: 30px;
  }
  button {
    width: 90px;
    padding: 6px 15px;
    outline: none;
    border: none;
    background-color: rgb(55, 55, 223);
    color: #fff;
  }
}
