.single-note,
.checked-single-note {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  min-height: 45px;
  border-bottom: 1px solid black;
  -webkit-box-shadow: inset 11px 25px 19px -30px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 11px 25px 19px -30px rgba(0, 0, 0, 0.75);
  box-shadow: inset 11px 25px 19px -30px rgba(0, 0, 0, 0.75);
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: start;
  }
  .serial {
    font-size: 20px;
    font-weight: 800;
    padding: 5px 8px;
    background-color: #000;
    color: #fff;
  }
  .note {
    width: 80%;
    @media (max-width: 600px) {
      width: 96%;
    }
  }
  .button-edit {
    padding: 6px 12px;
    width: 80px;
    outline: none;
    color: #fff;
    border: none;
    background-color: rgb(60, 60, 209);
  }
  .button-delete {
    padding: 6px 12px;
    width: 80px;
    outline: none;
    color: #fff;
    border: none;
    background-color: rgb(209, 60, 80);
  }
}
